# PostgreSQL
POSTGRES_USER=oati
POSTGRES_PASSWORD=oati_secret
POSTGRES_DB=series_db
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8000
CORS_ORIGINS=http://localhost:4200
DEBUG=true

# Frontend
FRONTEND_PORT=4200
